node_modules/
vendor/

storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

.git/
.github/
.vscode/

tests/

*.md

.editorconfig
.gitignore
.gitattributes

docker-compose.yml